
  .ReportImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    height: 300px;
    width: 100%;
}

.report-centered {
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: black;
    background-color: #D9FFFFFF;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .report-card{
      position: absolute;
      right: 10%;
      top: 47%;
      width: 80%; /* set width here*/
      background-color:  #c4d8e2;
  }

  .outer {
    position: relative;
    margin-top: 25px;
  }
